@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;800&display=swap');
@font-face {
	font-family: 'Barbaro';
	src: url('../fonts/Barbaro-Western.woff2') format('woff2'),
		 url('../fonts/Barbaro-Western.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/*===========================================Fonts===========================================*/
*, *::before, *::after{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a, a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: inherit;
	font-style: inherit;
}
img{
	vertical-align: top;
}
html, body{
	height: 100%;
	font-size: 14px;
	line-height: 1;
}
/*===========================================================================================*/
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
/*=========================================Nullstyle=========================================*/
body{
	font-family: Orbitron;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
#active{
	text-decoration: underline;
	color: rgb(148, 87, 8);
}
header{
	max-width: 1250px;
	padding: 10px;
	margin: 0 auto 50px;
	border-bottom: 2px solid rgba(0, 121, 40, 0.5);
	border-left: 2px solid rgba(0, 121, 40, 0.5);
	border-right: 2px solid rgba(0, 121, 40, 0.5);
	border-radius: 0 0 25px 25px;
	box-shadow: 0 5px 4px rgba(4, 160, 74, 0.849);
}
header img{
	max-width: 100px;
	float: left;
}
.header__list{
	max-width: 500px;
	margin: 0 auto;
}
.header__list li{
	display: inline-block;
	margin: 15px 40px 15px 0;
	font-size: 12px;
	font-weight: 700;
	color: slateblue;
}
/*===========================================================================================*/
.infobox__info{
	margin: 0 0 50px 0;
}
h2{
	font-family: Barbaro;
	text-align: center;
	padding: 0 0 20px 0;
	color: rgb(4, 126, 99);
	font-size: 40px;
	letter-spacing: 3px;
	text-shadow: 2px 2px 1px rgb(157, 165, 42);
}
.info__image{
	max-width: 205px;
	display: inline-block;
	float: left;
	margin: 0 25px 0 0;
}
.info__image img{
	max-width: 100px;
	padding: 5px;
	border-radius: 25px;
}
.info__text{
	font-family: Cinzel;
	font-weight: 800;
	color: indigo;
	line-height: 125%;
	text-transform: uppercase;
	text-align: justify;
}
.info__text p{
	padding: 5px;
	opacity: 0.8;
}
.rightimage{
	float: right;
	margin: 0 0 0 25px;
}
.righttext{
	border-bottom: 4px double sienna;
	border-right: 4px double sienna;
	border-radius: 0 10px 10px 5px;
	box-shadow: 5px 5px 4px rgba(4, 54, 160, 0.849);
}
.lefttext{
	color: tomato;
	border-bottom: 4px double blueviolet;
	border-left: 4px double blueviolet;
	border-radius: 10px 0 5px 10px;
	box-shadow: -5px 5px 4px rgba(1, 103, 121, 0.849);
}
/*===========================================================================================*/
.products {
	max-width: 950px;
	margin: 0 auto;
}
.products h2{
	color: crimson;
	font-weight: 900;
	font-size: 32px;
	text-shadow: 2px 2px 1px yellowgreen;
}
.products__item{
	margin-bottom: 45px;
	box-shadow: 5px 5px 5px rebeccapurple, -1px -1px 5px rgb(120, 192, 111);
}
h3{
	padding: 15px 0 0 0;
	font-weight: 700;
	color: darkolivegreen;
	font-size: 26px;
	text-shadow: 1px 1px 2px blueviolet;
}
.price{
	color: darkred;
	font-size: 28px;
	text-shadow: 3px 2px 2px rgba(255, 0, 0, 0.426);
	text-align: right;
}

.products__image{
	max-width: 200px;
	display: inline-block;
	float: left;
	margin: 0 25px 40px 0;
}
.products__image img{
	max-width: 170px;
	padding: 5px;
}

.products__text{
	font-family: Cinzel;
	font-size: 16px;
	text-shadow: 1px 1px 1px papayawhip;
	text-align: justify;
}
.products__text p{
	padding: 10px;
}
/*===========================================================================================*/
.footer{
	max-width: 840px;
	margin: 0 auto;
	border-top: 3px dashed rgba(138, 148, 0, 0.212);
	border-right: 3px dashed rgba(138, 148, 0, 0.212);
	border-left: 3px dashed rgba(138, 148, 0, 0.212);
	border-radius: 30px 30px 0 0;
	box-shadow: 0px -10px 5px peru;
}
.footer__list{
	display: inline-block;
	margin: 0 5% 0;
	padding: 10px;
	font-family: Barbaro;
	line-height: 130%;
	color: rgb(148, 87, 8);
}
.footer__list span{
	visibility: hidden;
}
.footer__list a{
	opacity: 0;
}
.footer__image{
	display: inline-block;
	float: right;
	margin: 20px 40px 0 0;
}
.footer__image img{
	max-width: 100px;
}
/*===========================================================================================*/